/* CSS */
/* ページ上部のタブの設定（header ul a:hoverまで) */
body{
  top: 44px;
  left: 200px;
}

header{
  z-index: 10;
  background-color: #e0ffff;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.logo h1{
margin-left: 0px;
}

ul {
　　overflow:hidden;
　　list-style:none;
　　margin: 0 auto;
　　z-index: 20;
}
 
li {
  display: inline-block;
  padding: 20px 10px 20px 10px;
}
 /* タブごとの表示色 */
a {
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff;
    color: #00f;
}
 /* タブにカーソルを合わせた時の背景色 */
header ul a:hover {
    background-color: #f7a;
}

h1 {
 background-color: #ffd700;
 text-align: center;
}
/* ボタンの設定　下二つはボタンの影とボタンの形（a.btn--circleまで) */
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}

a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

a.btn--circle {
  border-radius: 50%;
  margin-left: 700px;
  position: relative;
  line-height: 300px;
  width: 300px;
  height: 300px;
  padding: 0;
}

p{
text-align: center
}

.content p{
margin-bottom: 5px;
}


